name: EKS Helm CI/CD

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.ECR_REPOSITORY_URL }}:latest app
          docker push ${{ secrets.ECR_REPOSITORY_URL }}:latest

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name eks-helm-cluster

      - name: Deploy with Helm
        run: |
          helm upgrade --install demo-app helm/demo-app \
            --set image.repository=${{ secrets.ECR_REPOSITORY_URL }} \
            --set image.tag=latest

